@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.choice {
    &__columns {
        @include columns;
        flex-direction: row-reverse;
    }
    &__col {
        @include column-one-second;
    }
    &__title {
        @include title;
    }
    &__subhead {
        @include subhead;
    }
    &__text {
        @include text;
    }
    &__link {
        @include button;
        margin: 2rem auto 0;
    }
    &__img {
        @include tablet-landscape {
            object-fit: cover;
        }
    }
}
