@import '../../styles/partials/variables.scss';
@import '../../styles/partials/mixins';

.mobile-nav {
    position: fixed;
    top: 0;
    right: -20rem;
    padding: 5rem 2rem 2rem;
    height: 100vh;
    width: 20rem;
    overflow: auto;
    @include shadow;
    transition: right 0.3s linear;
    background-color: white;
    z-index: 3;

    @include tablet-landscape {
        display: none;
    }

    &.active {
        right: 0;
    }

    &__menu {
        margin: 0;
        padding: 0;
        
    }
    &__item {
        margin-bottom: 0.5rem;
        list-style-type: none;

    }
    &__link {
        padding: 0.625rem 0.5rem;
        position: relative;
        display: inline-flex;
        font-size: 1.5rem;
        text-decoration: none;
        color: $mainTextColor;
    }
    @include underline-after(".mobile-nav__link");
}
