$maxContentWidth: 80rem;
$tablet-breakpoint: 768px;
$tablet-landscape-breakpoint: 959px;
$desktop-breakpoint: 1024px;

$mainTextColor: #232323;
$iconBg: rgba(35, 35, 35, 0.7);
$yellow_old: #e9cd44;
$yellow: #eccf3f;

$dark_bg: rgb(135, 113, 56);
// $dark_bg: rgb(15, 85, 128);