@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.header{
    margin: 0 auto;
    padding: 1rem;
    max-width: $maxContentWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-landscape {
        padding: 1rem 2rem;
    }

    &__burger {
        position: relative;
        z-index: 5;
        width: 2.125rem;
        height: calc(0.8rem + 6px);
        display: flex;
        flex-direction: column;
        cursor: pointer;

        @include tablet-landscape {
            display: none;
        }

        &.active {
            .header__burger-line {
                background-color: $mainTextColor;
                transition: transform 0.2s linear, opacity 0.12s linear 0.1s, background-color 0.2s linear;
            }
            .header__burger-line:nth-child(2) {
                opacity: 0;
            }
            .header__burger-line:first-child {
                top: calc(50% - 1px);
                left: 0;
                margin: 0;
                transform: rotate(45deg);
                transform-origin: center;
            }
            .header__burger-line:last-child {
                top: calc(50% - 1px);
                left: 0;
                margin: 0;
                transform: rotate(-45deg);
                transform-origin: center;
            }
        }
    }
    &__burger-line {
        position: absolute;
        left: 0;
        width: 2.125rem;
        height: 2px;
        background: $yellow;
        transition: transform 0.2s linear, opacity 0.12s linear 0.1s, background-color 0.2s linear, top 0.1s linear 0.22s;

        &:first-child {
            top: 0;
        }
        &:nth-child(2) {
            top: calc(50% - 1px);
        }

        &:last-child {
            bottom: 0;
            margin-bottom: 0;
        }
    }

    &__img{
        max-width: 5rem;    
    }

    &__links {
        display: none;

        @include tablet-landscape {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__link {
        @include button;
        margin-bottom: 0.5rem;
        padding: 0 0.5rem;
        box-sizing: content-box;
        width: 12rem;
        border: 2px solid;
        background-color: white;
        text-decoration: none;
        font-size: 1.25rem;
        @include transition(all);

        &:last-child {
            margin-bottom: 0;
        }

        &--call{
            border-color: rgb(51, 51, 51);
            &:hover {
                background-color: $yellow;
                border-color: $yellow;
            }
        }
        &--quote {
            background-color: $yellow;
            border-color: $yellow;
            &:hover {
                background-color: white;
            }
        }
    }
}

