@import '../../styles/partials/variables.scss';
@import '../../styles/partials/mixins';

.testimonials {
    padding: 2.5rem;
    background-color: rgba(190, 190, 190, 0.5);

    &-wrap {
        padding: 1rem;
        background-color: white;
        border-radius: .5rem;
    }
    &__title {
        @include title;
    }
    &__link {
        @include button;
        margin: 2rem auto 0;
    }
}
